@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@font-face {
    font-family: 'Big John', sans-serif;
    src: url('../fonts/big-john.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Slim Joe', sans-serif;
    src: url('../fonts/slim-joe.otf');
    font-weight: normal;
    font-stretch: normal;
}