$main-color: #48bf72;
$alt-color: #3c4955;

$filter-btn: #eaeaea;
$form-bg: #f1f1f1;
$form-txt: #a6a5a5;
$breadcrumbs: #ffffff80;

// Social networks backgrounds
$linkedin-bg:#0976b4;
$twitter-bg: #55acee;
$dribble-bg: #ea4c89;
$behance-bg: #1769ff;